html,
body,
ul,
li,
h1,
h2,
h3,
h4,
span,
div,
p,
a,
form,
input {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  outline: none;
  border: none;
}
img {
  display: block;
}
.wrapper {
  position: relative;
  width: 500px;
  height: 600px;
  background: #FFF;
  margin: 10px auto;
}
.wrapper .header {
  position: relative;
  width: 410px;
  height: 420px;
  background-color: #1090e3;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0 auto;
}
.wrapper .header .header-border {
  position: absolute;
  top: 70px;
  left: 24px;
  width: 360px;
  height: 350px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 50%;
}
.wrapper .header .header-border .yan-l,
.wrapper .header .header-border .yan-r {
  position: absolute;
  top: -40px;
  width: 75px;
  height: 80px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 50%;
}
.wrapper .header .header-border .yan-l {
  left: 110px;
}
.wrapper .header .header-border .yan-l .yanxian {
  position: absolute;
  top: 20px;
  left: 35px;
  width: 23px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
}
.wrapper .header .header-border .yan-l .yanxian .clear-one {
  position: absolute;
  top: 15px;
  left: -4px;
  width: 35px;
  height: 28px;
  background-color: #fff;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.wrapper .header .header-border .yan-r {
  left: 187px;
}
.wrapper .header .header-border .yan-r .yanqiu {
  position: absolute;
  top: 20px;
  left: 10px;
  width: 20px;
  height: 40px;
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
}
.wrapper .header .header-border .yan-r .yanqiu .yanzhu {
  position: absolute;
  top: 8px;
  left: 2px;
  width: 10px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
}
.wrapper .header .header-border .bizi {
  position: absolute;
  top: 15px;
  left: 160px;
  width: 50px;
  height: 50px;
  background-color: red;
  border: 1px solid black;
  border-radius: 50%;
  z-index: 15;
}
.wrapper .header .header-border .bizi .bizi-qiu {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
}
.wrapper .header .header-border .header-x {
  position: relative;
  top: 50px;
  height: 220px;
  width: 2px;
  background-color: black;
  margin: 0px 185px;
  z-index: 10;
}
.wrapper .header .header-border .zuiba {
  position: relative;
  top: -150px;
  left: 28px;
  width: 300px;
  height: 199px;
  border: 2px solid black;
  border-radius: 50%;
  z-index: 0;
}
.wrapper .header .header-border .clear-two {
  position: absolute;
  left: 20px;
  top: 50px;
  width: 320px;
  height: 140px;
  background-color: #fff;
  z-index: 5;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.wrapper .header .header-border .x1,
.wrapper .header .header-border .x2,
.wrapper .header .header-border .x3,
.wrapper .header .header-border .x4,
.wrapper .header .header-border .x5,
.wrapper .header .header-border .x6 {
  position: absolute;
  top: 125px;
  width: 130px;
  background-color: black;
  border: 1px solid black;
  z-index: 10;
}
.wrapper .header .header-border .x1,
.wrapper .header .header-border .x2,
.wrapper .header .header-border .x3 {
  left: 0;
}
.wrapper .header .header-border .x4,
.wrapper .header .header-border .x5,
.wrapper .header .header-border .x6 {
  left: 230px;
}
.wrapper .header .header-border .x1 {
  top: 80px;
  transform: rotate(10deg);
}
.wrapper .header .header-border .x3 {
  top: 165px;
  transform: rotate(350deg);
}
.wrapper .header .header-border .x4 {
  top: 80px;
  transform: rotate(350deg);
}
.wrapper .header .header-border .x6 {
  top: 165px;
  transform: rotate(10deg);
}
.wrapper .content {
  position: relative;
  overflow: hidden;
  margin: -60px auto 0;
  width: 500px;
  height: 5000px;
  background-color: #fff;
}
.wrapper .content .weijing {
  position: absolute;
  top: -1px;
  left: 100px;
  width: 295px;
  height: 20px;
  background: #e50011;
  border: 1px solid black;
  border-radius: 15px;
  z-index: 999;
}
.wrapper .content .weijing .lingdang {
  position: absolute;
  left: 131px;
  width: 45px;
  height: 45px;
  background-color: #fef439;
  border: 1px solid black;
  border-radius: 50%;
}
.wrapper .content .weijing .lingdang .zhongxian {
  position: absolute;
  top: 10px;
  left: 2px;
  width: 85%;
  height: 3px;
  border: 1px solid black;
  border-radius: 20px;
}
.wrapper .content .weijing .lingdang .lingdang-qiu {
  position: absolute;
  top: 18px;
  left: 16px;
  width: 10px;
  height: 10px;
  background-color: #7f6d5b;
  border: 1px solid black;
  border-radius: 50%;
}
.wrapper .content .weijing .lingdang .lingdang-xian {
  width: 1px;
  height: 15px;
  background-color: black;
  margin: 30px auto;
}
.wrapper .content .shengti {
  position: relative;
  margin: -1px auto 0;
  top: 60px;
  width: 280px;
  height: 130px;
  background: #00a0e6;
  border-left: 1px solid black;
  border-right: 1px solid black;
  z-index: 5;
}
.wrapper .content .shengti .koudai {
  position: absolute;
  top: -150px;
  left: 15px;
  width: 250px;
  height: 250px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 50%;
  z-index: 20;
}
.wrapper .content .shengti .koudai .koudai-c {
  position: absolute;
  top: 150px;
  left: 35px;
  width: 180px;
  height: 80px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 0 0 180px 180px;
}
.wrapper .content .shengti .jiao-l {
  position: absolute;
  top: 130px;
  left: -20px;
  width: 150px;
  height: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.wrapper .content .shengti .jiao-r {
  position: absolute;
  top: 130px;
  right: -20px;
  width: 150px;
  height: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.wrapper .content .shengti .jiaowan {
  position: absolute;
  top: 115px;
  left: 125px;
  width: 30px;
  height: 15px;
  background-color: #fff;
  border-radius: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-radius: 50px 50px 0 0;
}
.wrapper .content .shou-l {
  position: absolute;
  top: 40px;
  left: 38px;
  width: 110px;
  height: 50px;
  background-color: #00a0e9;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  transform: rotate(140deg);
}
.wrapper .content .shou-l .shou-l-qiu {
  position: absolute;
  top: -5px;
  left: 90px;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 50%;
  z-index: 5;
}
.wrapper .content .shou-r {
  position: absolute;
  top: 40px;
  right: 38px;
  width: 110px;
  height: 50px;
  background-color: #00a0e9;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  transform: rotate(40deg);
}
.wrapper .content .shou-r .shou-r-qiu {
  position: absolute;
  top: -5px;
  left: 90px;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 50%;
  z-index: 5;
}
